<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Game Room</title>
  <link rel="stylesheet" href="static/styles/styles.css">
</head>

<body>

  <div id='lobby'>
    <div class="message_holder" id="message_holder">Nothing rn</div>
  </div>

  <input type = "text" id="user_input" placeholder="Type here" autocomplete="off">
  <button id="send_message" type="button"> Send </button>

  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', () => {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    const url = window.location.href
    const room = url.substring(27, 31)
    socket.on('connect', () =>{
        socket.emit('connected_chat', room)
    })

    document.querySelector('#send_message').onclick = () => {
        console.log('button clicked')
        socket.emit('message_send', {
            'msg': document.getElementById('user_input').value,
            'room': room
            // username: TODO        
        })
    }
    
    socket.on('msg_received', () =>{
        document.getElementById('lobby').style.display = "none"
    })


    

    })

  </script>
</body>

</html>