<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Game Room</title>
  <link rel="stylesheet" href="static/styles/styles.css">
</head>

<body>

  <div id='lobby'>
    <button type="button" id='start'>Start</button>
    <p style='text-align: left;'>Players in the lobby:</p>
    <input type="text" id="user_input" placeholder="Type here" autocomplete="off">
    <button id="send_message" type="button"> Send </button>
    <div class="message_holder" id='message_holder'
      style='overflow:auto; width: 300px; height:500px; overflow-wrap: break-word;'></div>
    </div>

  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts/music.js') }}"></script>
  <script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', () => {
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      const url = window.location.href
      const room = url.substring(27, 31)
      var round = 1
      socket.on('connect', () => {
        socket.emit('connected_chat', room)
      })

      document.querySelector('#send_message').onclick = () => {
        console.log('button clicked')
        socket.emit('message_send', {
          'msg': document.getElementById('user_input').value,
          'room': room        
        })
        document.getElementById('user_input').value = ''
      }

      socket.on('chat', (data) => {
        console.log('check')
        let div = document.getElementById('message_holder');
        let old_height = div.scrollHeight
        let username = data.username
        let msg = data.msg
        let correct = data.correct
        let element = ''
        console.log(correct)
        if (correct)
        {
          element = `<div class='correct' style = 'color:green'>${username}: ${msg}</div>`
          console.log('Correct')
        }
        else
        {
          element = `<div class='wrong' >${username}: ${msg}</div>`
          console.log('Incorrect')
        }
        div.innerHTML += element
        console.log(div.scrollTop)
        console.log(old_height)
        
        
        if (div.scrollTop + 500 == old_height) { // 500 = height of message_holder
          div.scrollTop = div.scrollHeight;
        }
        console.log(div.scrollHeight)

      })

      socket.on('end_round', (data) => {
        //score page

      })
      
      socket.on('start_round', (data) => {
        round ++
        play_audio( {{ url_for('static', filename='music/1.m4a')}})
      })

    })

  </script>
</body>

</html>