<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Game Room</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/gameroom_styles.css">
</head>

<body>
  <div class="header">
    <img class="logo" src="/static/assets/music_notes.gif" alt="music_notes" />
  </div>
  <div class='midsection'>
    <div class='hint'></div>
    <div class='chat' id='chat'>
      <div class="message_holder" id='message_holder'></div>
      <div class='new_msg' id='new_msg'>New Message ↓</div>
      <input type="text" id="user_input" placeholder="Type your guess/chat" autocomplete="off">
      <button id="send_message" type="button"
        style="display:'none'; position: absolute; left: -9999px; width: 1px; height: 1px;"></button>
    </div>
    <div class='right_area'>
      <div class='lobby' id='lobby'>
        <button type="button" id='start' style='display:none'>Start Game</button>
        <div id="end_modal" class="modal">
          <div class="modal-content">
            <button type="button" id='new_game' style='display:none'>Start New Game</button>
            <button type="button" id="back_to_lobby">Back to home</button>
          </div>
        </div>
        <input type="range" id="volume_control" class='volume_control' min="0" max="100" value="50">
          <button type="button" id="skip">Skip Song</button>
          <canvas id="audio_visualizer"></canvas>
      </div>
      <div class='players' id='players'></div>
    </div>
  </div>


  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
    crossorigin="anonymous"></script>
  <!-- <script src="{{ url_for('static', filename='scripts/waveform.js) }}"></script> -->
  <script type="text/javascript" charset="utf-8">
      var bgcolor = 1;

      function download_music(files) {
      for (let i = 0; i < files.length; i++) {
        audios[i] = new Audio();
        audios[i].src = files[i]
        audios[i].preload = 'auto'
      }
      console.log(audios)
    }

    function start_game() {
      socket.emit('start_game', room)
      document.getElementById('start').style.display = "none"
    }

    // Adds a new message to the chat area
    function new_message(div_element) {
        console.log('new_message called')
        let div = document.getElementById('message_holder');
        console.log(div)
        console.log(div_element)
        let old_height = div.scrollHeight
        div.innerHTML += div_element
        if (div.scrollTop + document.getElementById('message_holder').offsetHeight == old_height) {
          div.scrollTop = div.scrollHeight;
        }
        else {
            document.getElementById('new_msg').style.display = 'block'
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
      const url = "https://knewsic.herokuapp.com/";
      socket = io();
      room = window.location.href.substring(url.length + 5, url.length + 9)
      var round = 0;
      audios = [new Audio()]
      var readyState = false
      var volume_saver = 0.50;
      let volume = document.querySelector("#volume_control");
      volume.addEventListener("change", function (e) {
        audios[round - 1].volume = e.currentTarget.value / 100;
        volume_saver = e.currentTarget.value / 100;
      })

      audios[0].oncanplaythrough = function (e) {
        console.log('on can playthrough')
        if (audios[0].readyState >= 4 && audios[0].src != null) {
          socket.emit('downloaded', room)
          console.log('First song downloaded')
        }
      }

      socket.on('connect', () => {
        console.log(room)
        socket.emit('connected_to_room', room)
      })

      var input = document.getElementById("user_input");
      input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("send_message").click();
        }
      });
      document.querySelector('#send_message').onclick = () => {
        if (document.getElementById('user_input').value != '')
          socket.emit('message_send', {
            'msg': document.getElementById('user_input').value,
            'room': room
          })
        document.getElementById('user_input').value = ''
      }

      socket.on('send_song_paths', (data) => {
        download_music(data)
      })

      socket.on('uptodate', (data) => {
        round = data
      })


      socket.on('chat', (data) => {
        console.log('msg received')
        let username = data.username
        let msg = data.msg
        let correct = data.correct
        console.log(msg)
        let element = ''
        if (correct == 'first') {
          element = `<div class='correct_${bgcolor}'><b>${msg}</b></div>`
          bgcolor *= -1
        }
        // If correct answer
        else if (correct) {
          element = `<div class='correct_${bgcolor}'><b>${username}:</b> ${msg}</div>`
          bgcolor *= -1
        }
        else {
          element = `<div class='wrong_${bgcolor}' ><b>${username}:</b> ${msg}</div>`
          bgcolor *= -1
        }

        new_message(element)
      })

      socket.on('end_round', (data) => {
        //score page
        audios[round - 1].pause();
      })

      socket.on('start_round', () => {
        round++
        audios[round - 1].volume = volume_saver
        audios[round - 1].play()
        audio_visualizer(audios[round - 1])
      })

      document.getElementById('start').onclick = () => {
        if (readyState) {
          start_game()
        }
        else {
          console.log('readyState false')
          let boolean = confirm('Not all players have finished downloading music. Are you sure you like to begin?')
          if (boolean) {
            start_game()
          }
        }
      }

      socket.on('host', () => {
        document.getElementById('start').style.display = "block"
      })

      socket.on('all_downloaded', () => {
        readyState = true
      })

      socket.on('update_scores', (data) => {
        // Add display of round number
        var score_string = ''
        for (i = 0; i < data.length; i++) {
          score_string += `<span>User: ${data[i].username}, Score: ${data[i].score}, Gain: ${data[i].gain}</span><br>`
        }
        document.getElementById('players').innerHTML += score_string
      })

      //#3
      socket.on('end_game', (data) => {
        audios[round - 1].pause();
        round = 0
        document.getElementById('end_modal').style.display = 'block';
      })

      socket.on('host_end', () => {
        document.getElementById('new_game').style.display = 'block'
      })


      document.getElementById('back_to_lobby').onclick = () => {
        window.location.href = url
      }

      document.getElementById('new_game').onclick = () => {
        console.log('New game starting')
        socket.emit('new_game_clicked', room)
        document.getElementById('end_modal').style.display = 'none'
      }

      socket.on('start_new', (data) => {
        console.log('starting')
        download_music(data)
        document.getElementById('end_modal').style.display = 'none'
      })


      socket.on('user_joined', (data) => {
        let element = `<div class='user_join_${bgcolor}'><b>${data}</b> Joined!</div>`
        bgcolor *= -1

        new_message(element)
      })

        socket.on('correct_answer', (string) => {
            let element = `<div class='correct_${bgcolor}'>${string}</div>`
            new_message(element)
        })

        socket.on('user_disconnect', (username) => {
            let element = `<div class = 'user_join_${bgcolor}'> <b> ${username} </b> disconnected. </div> `
            new_message(element)
        })

        document.getElementById('skip').onclick = () => {
          socket.emit('skip', room);
        }

        socket.on('vote_skip', (message_string) => {
            let element = `<div class='user_join_${bgcolor}'>${message_string}</div>`
            new_message(element)
        })

        socket.on('skip_round', () => {
            let element = `<div class='user_join_${bgcolor}'>Skipping round...</div>`
            new_message(element)
        })
    })


  </script>
</body>

</html>