{% extends "layout.html" %}

<head>
    {% block head %}
    <title>Main Menu</title>
    <link rel="stylesheet" href="/static/styles/mainmenu_styles.css">
    {% endblock %}
</head>
{% block body %}
<style>
    .magnify:hover,
    .magnify :focus {
        transition: .2s;
        transform: scale(1.15);
    }
</style>

<body>
    <div class='wrapper' id='wrapper'>
        <div class="header">
            <img class="logo" src="/static/assets/music_notes.gif" alt="music_notes" />
        </div>
        <div class="console">
            <div class="user">
                <input type="text" id="username" placeholder="Username" maxlength="12" , autocomplete="off">
            </div>
            <button id = 'make_room'>Make Room</button>
            <button id = 'join_room'>Join Room</button>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            const url = "https://knewsic.herokuapp.com/";
            console.log(url)
            var socket = io();

            document.querySelector('#make_room').onclick = () => {
                let username = document.querySelector('#username').value
                socket.emit('create_user', username)
                window.location.href = url+'make-room/'
            }

            document.querySelector('#join_room').onclick = () => {
                let username = document.querySelector('#username').value
                socket.emit('create_user', username)
                window.location.href = url+'join-room/'
            }

        })


    </script>
</body>
{% endblock %}
</html>