<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="static/styles/styles copy.css">
</head>
<style>
    .magnify:hover,
    .magnify :focus {
        transition: .2s;
        transform: scale(1.15);
    }
</style>

<body>
    <div class="header">
            <img class="logo" src="/static/assets/music_notes.gif" alt="music_notes" />
        <a href="http://127.0.0.1:5000/spotify-login/">
            <img class="magnify" style='display:block' id='spotify_button' src="/static/assets/spotify.png" />
        </a>
    </div>
    <div class="wrapper">
        <div class="make_join_game">
            <input type="text" id="username" placeholder="Username" , autocomplete="off">
            <select name="gamemode" id="gamemode">
                <option value="" selected disabled hidden>Select gamemode</option>
                <option value="artist">Guess the artist</option>
                <option value="song">Guess the song name</option>
                <option value="year">Guess the year</option>
            </select>
            <input type="number" min="1" max="20" id="rounds" placeholder="Number of rounds" size="10px" ,
                autocomplete="off">
            <input type="text" id="pin" placeholder="Make Pin" , autocomplete="off">
            <input class="magnify" type="submit" id="create_game" value="Make a game" />
        </div>
        <div size=50%>What Playlist</div>
        <div class='playlist_div'>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I have a bike</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> I have a car</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> I have a boat</label><br>
        </div>
        <div class="make_join_game">
            <input type="text" id="roomcode" placeholder="Room Code" , autocomplete="off">
            <input type="text" id="password" placeholder="Game Password" , autocomplete="off">
            <input type="submit" id="join_game" value="Join a game" />
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            document.querySelector('#create_game').onclick = () => {
                socket.emit('make_room', {
                    'username': document.querySelector('#username').value,
                    'gamemode': document.querySelector('#gamemode').value,
                    'rounds': document.querySelector('#rounds').value,
                    'password': document.querySelector('#pin').value,
                })
            }

            const dialog = document.createElement('dialog');
            dialog.setAttribute('open', '');
            dialog.append('hi');

            document.querySelector('#join_game').onclick = () => {
                socket.emit('join_room', {
                    'username': document.querySelector('#username').value,
                    'roomcode': document.querySelector('#roomcode').value,
                    'password': document.querySelector('#password').value
                })
            }


            socket.on('connect', () => {
                socket.emit('connected_to_main');
            })

            socket.on('add_spotify_button', () => {
                document.getElementById("spotify_button").style.display = "block";
            })

            socket.on('room_made', (data) => {
                window.location.href = data
            })


            socket.on('password_correct', (data) => {
                window.location.href = data
            })

            socket.on('wrong_pass', () => {
                alert('Wrong password!')
            })

            socket.on('Room_noexist', () => {
                alert('Room doesn\'t exist!')
            })

            socket.on('Room_full', () => {
                alert('Room is full!')
            })

        })

    </script>
</body>

</html>