<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/mainmenu_styles.css">
</head>
<style>
    .magnify:hover,
    .magnify:focus {
        transition: .2s;
        transform: scale(1.15);
    }
</style>

<body>
    <div class='wrapper' id='wrapper'>
        <div class="header">
            <img class="logo" src="/static/assets/music_notes.gif" alt="music_notes" />
            <a href="https://knewsic.herokuapp.com/spotify-login/">
                <img class="magnify" style='display:none' id='spotify_button' src="/static/assets/spotify.png" />
            </a>
        </div>
        <div class="console">
            <div id='artist_results'></div>
            <div class="make_game">
                <div class='buttons'>
                    <select name="gamemode" id="gamemode">
                        <option value="song">Song</option>
                        <option value="artist">Artist</option>
                        <option value="year">Year</option>
                        <option value="mix">Mixed</option>
                    </select>
                    <select id="rounds">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <input type="text" id="pin" placeholder="Make Pin">
                    <input type="text" id="artist_search" placeholder="Search artist">
                </div>
                <div text-align='center'>Select Playlists</div>
                <div class='playlist_div' id='playlist_div'>
                </div>
                <div><input class="magnify" type="submit" id="create_game" value="Make a game" /></div>
            </div>
        </div>
        <div id = 'selected'></div>
    </div>

    <div class='loading' id='loading'>LOADING...</div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            const url = "https://knewsic.herokuapp.com/";
            console.log(url)
            var socket = io();

            socket.on('connect', () => {
                const div = document.getElementById('playlist_div');
                div.innerHTML = ''
                socket.emit('connected_to_make_room');
            })

            socket.on('add_spotify_button', () => {
                document.getElementById("spotify_button").style.display = "block";
            })

            let input = document.getElementById("artist_search");
            input.addEventListener("keyup", (e) => {
                console.log(e.currentTarget.value)
                socket.emit('search', e.currentTarget.value)
            });

            socket.on('artist_results', (data) => {
                console.log('Search results received')
                document.getElementById('artist_results').innerHTML = ''
                let images = ''
                for (i = 0; i < data.length; i++) {
                    images += `<img src='${data[i].image}' width='90px'>`
                    console.log(images)
                }
                document.getElementById('artist_results').innerHTML = images
            })

            document.getElementById("create_game").onclick = () => {

            }

            document.querySelector('#create_game').onclick = () => {
                var arr = [];
                var checkboxes = document.getElementsByName('checkbox');
                for (var checkbox of checkboxes) {
                    if (checkbox.checked) {
                        arr.push(checkbox.value);
                    }
                }
                document.getElementById('wrapper').style.display = 'none'
                document.getElementById('loading').style.display = 'block'
                console.log(
                    'making game'
                )
                socket.emit('make_room', {
                    'gamemode': document.querySelector('#gamemode').value,
                    'rounds': document.querySelector('#rounds').value,
                    'password': document.querySelector('#pin').value,
                    'playlists': arr
                })
            }

            socket.on('room_loading', (room) => {
                document.getElementById('loading').innerText = `Your room (${room}) is currently being made. You will be redirected when it is ready.`
            })



            socket.on('invalid_rounds', () => {
                document.getElementById('wrapper').style.display = 'block'
                document.getElementById('loading').style.display = 'none'
                alert('Error: Number of rounds exceeds number of songs.')
            })




            socket.on('room_made', (data) => {
                window.location.href = data
            })


            socket.on('password_correct', (data) => {
                window.location.href = data
            })

            socket.on('wrong_pass', () => {
                alert('Wrong password!')
            })


            socket.on('no_gamemode', () => {
                alert('Choose a game mode!')
            })


            socket.on('add_playlist', (data) => {
                const div = document.getElementById('playlist_div');
                for (let i = 0, playlist; playlist=data[i]; i++){
                    div.innerHTML += playlist
                }
            })




            function add_playlist(id, name){
                //remove from playlist list
                let playlists = document.getElementById('playlist_div')
                let playlist = playlists.removeChild(getElementById(`p${id}`))
                //add to selected
                let div = document.getElementById('selected')
                playlist.onclick = `remove_element(${id}, ${name})`
                div.innerHTML += playlist
            }

            function remove_element(id, name){
                let selected = document.getElementById('selected')
                let element = selected.removeChild(getElementById(`p${id}`))
                let element_class = element.class
                if (element_class=='playlist'){
                    document.getElementById('playlist_div') += element
                    element.onclick = `add_playlist(${id}, ${name})`
                }
                else if (element_class=='artist'){
                    document.getElementById('playlist_div') += element
                    element.onclick = `add_playlist(${id}, ${name})`
                }
            }





        })


    </script>
</body>

</html>