{% extends "layout.html"}

<head>
    {% block head %}
    <title>Main Menu</title>
    <link rel="stylesheet" href="/static/styles/mainmenu_styles.css">
    {% endblock %}
</head>
{% block body %}
<style>
    .magnify:hover,
    .magnify :focus {
        transition: .2s;
        transform: scale(1.15);
    }
</style>

<body>

    <div class='loading' id='loading'>LOADING...</div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            const url = "http://127.0.0.1:5000/";
            console.log(url)
            var socket = io();

        })


    </script>
</body>
{% endblock %}
</html>