<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/mainmenu_styles.css">
</head>
<style>
    .magnify:hover,
    .magnify :focus {
        transition: .2s;
        transform: scale(1.15);
    }
</style>

<body>

    <div class='loading' id='loading'>LOADING...</div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            const url = "http://127.0.0.1:5000/";
            console.log(url)
            var socket = io();

        })


    </script>
</body>

</html>