{% extends "layout.html" %}

{% block head %}
<title>Create User</title>
{% endblock %}

{% block body %}
<body>
    <div id = "wrapper">
        <div id = "username">
            <input type="text" id="username" placeholder="Username" autocomplete="off">
        </div>
        <div id="avatar">
            <button id='left' type=button></button>
            <img id='avatar' src="/static/assets/avatars/1.png" alt="1.png">
            <button id='right' type=button></button>
        </div>            
        
        <div id="create_button">
            <button id="create" type=button>Create User</button>
        </div>
    </div>
</body>
<script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', () => {
        
        let avatar_no = 1
        let n = 2 // Number of avatars
        let avatar = document.getElementById('avatar')
        var socket = io();
        const url = "https://knewsic.herokuapp.com";

        document.getElementById('create').onclick = () => {
            console.log('create clicked')
            let username = document.getElementById('username').value
            let source = avatar.src
            socketio.emit('create_user', {'username': username,
                                          'avatar': source})
            const urlParams = new URLSearchParams(window.location.search);
            const redir = urlParams.get('redir'); 
            window.location.href = url + redir
        }

        document.getElementById('left').onclick = () => {
            console.log('left clicked')
            avatar_no = (avatar_no - 1) % n
            avatar.alt = `${avatar_no}.png`
            avatar.src = `/static/assets/avatars/${avatar_no}.png}`
        }

        document.getElementById('right').onclick = () => {
            console.log('right clicked')
            avatar_no = (avatar_no + 1) % n
            avatar.alt = `${avatar_no}.png`
            avatar.src = `/static/assets/avatars/${avatar_no}.png}`


        }


        
    })
</script>
{% endblock %}