@font-face {
    font-family: font;
    src: url(/static/fonts/CircularStd-Book.woff);
    font-weight: bold;
}

body {
    font-family: font;
    color: #ffffff;
    background: #1d1d1d;
    font-size: 30px;
}

.make_join_game input {
    font-family: font;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-radius: 25px;
    background: darkslateblue;
    color: #ffffff
}

.playlist_div {
    font-family: font;
    border: 0;
    background-color: black;
    padding: 30px;
    border-radius: 25px;
    text-align: left;
    font-size: 20px;
    height: 100px;
}

.spotify {
    font-family: font;
    position: absolute;
    top: 20px;
    left: 1210px;
}

