@font-face {
    font-family: font;
    src: url(/static/fonts/CircularStd-Book.woff);
    font-weight: bold;
}

body {
    font-family: font;
    color: #ffffff;
    background: #1d1d1d;
    font-size: 30px;
}

.header {
    outline: tomato;
    width: 100%;
    height: 200px;
    border: 1px solid red;
}

.header .logo {
    position: absolute;
    left: 50%;
    width: 10%
}

.header .magnify {
    float: right;
    width: 15%;
}

.console {
    outline: tomato;
    width: 95%;
    height: 500px;
    border: 1px solid purple;
    margin: 0 auto;
}

.console .make_game {
    outline: tomato;
    float: left;
    width: 30%;
    height: 500px;
}

.console .user {
    width: 40%;
    float: left;
    height: 500px;
}

.console .join_game {
    width: 30%;
    float: left;
    height: 500px;
}

.console .make_game .buttons * {
    margin: 0 auto;
    width: 30%;
    height: 10%
}

.console .make_game .playlist_div {
    height: 80%;
    width: 100%;
    overflow: auto;
}